<html style="height: 100%; width: 100%">
    <head>
        <title>Stream</title>
    </head>
    <body style="position: relative; display:flex; justify-content: space-around; flex-wrap: wrap">
        <div style="position: relative; display: flex; justify-content: center; width:100%;">
            <img style="position:relative; " src="{{ url_for('video', cam=cam, detection=detection) }}" alt="stream">
        </div>
        <a style="position: relative; width: 30%" href="{{ url_for('index') }}">Return</a>
    </body>
</html>